name: upload
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node environment
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install xdccjs
        run: npm install xdccjs
      - name: irc download
        run: node irc-down.js
      - name: upload to mega
        shell: pwsh
        run: gci -file | where {$_.name -match "subsplease"} | foreach {.\mega\MegaUpload --file $_.FullName}
